<!DOCTYPE html>
<html>
<head>
    <title>College Complaint System</title>
</head>
<body>
    <h1>College Complaint Management System</h1>

    <a href="/student/login">
        <button>Student Login</button>
    </a>

    <a href="/admin/login">
        <button>Admin Login</button>
    </a>
</body>
</html>
